root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 300
trim_trailing_whitespace = true

[*.{yml,yaml}]
max_line_length = 0

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[devcontainer.json]
indent_size = 2
indent_style = tab

[settings.json]
indent_size = 2
indent_style = tab
